# Diretório da IDE JetBrains (WebStorm, IntelliJ, etc.)
.idea/
*.iml

# Logs e arquivos de cache
*.log

# Configurações de build locais
out/
dist/
build/

# Node.js
node_modules/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambientes específicos
.env
.env.*  # caso use .env.development, .env.production etc.

# Testes
coverage/

# Arquivos de lock (caso não queira versionar)
# yarn.lock
# package-lock.json

# Sistema operacional (opcional)
*.swp
